@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'calibri';
}

a {
    color: inherit;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: rgb(48, 46, 46);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px rgb(48, 46, 46);
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    color:#2c93f3;
}

.logo span{
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: white;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.3s;
    font-weight: bold;
}

.botao-menu{
    display: none;
}

header{
    background-color: rgb(245, 241, 238);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 80%;
}

.header-bottom-side-left h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.header-bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
    text-align: center;
}

.header-bottom-side-left button{
    background-color: #2c93f3;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button:hover{
    background-color: #1a5e9e;
}

.header-bottom-side-right{
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem 1rem 1rem;
}

.header-bottom-side-right img{
    width: 115%;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section p.frase {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.imagem {
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(26, 25, 25);
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 1, 0.185);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 0px;
}

section#img01 {
    background-image: url('../imagens/paralaxe-spiderman.jpg');
    background-position: left center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/paralaxe-coringa.jpg');
    background-position: center center;
    background-size: cover;
}



/* MEDIA QUERIES */

@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }

    .botao-menu{
        display: block;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: rgb(48, 46, 46);
        width: 100%;
        top: 47px;
        display: none;
    }

    .mostrar-menu nav{
        display: block;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
}

main{
    background-color: #ebebeb;
}

.back-cinza{
    background-color: rgb(48, 46, 46);
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img{
    max-width: 100%;
}

.cols-4 img{
    max-width: 100%;
}

.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols>div{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px);
    box-shadow: rgba(35, 136, 218, 0.466) 2px 2px 2px 2px;
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background: #1a5e9e;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.produto{
    color: #2c2c2c;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.nome-produto{
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate{
    color: #2c93f3;
    font-size: 1.3rem;
}

.preco-produto{
    font-weight: 600;
}

.exclusive-container{
    color: white;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img{
    max-width: 500px;
    padding-right: 2rem;
}

.botao-adicionar-carrinho {
    background-color: #2c93f3;
    border: none;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    border-radius: 15px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.botao-adicionar-carrinho:hover {
    background-color: #1a5e9e;
}

.botoes-produto {
    margin: 10px;
    text-align: center;
}

@media (max-width: 800px){
    .section-title{
        font-size: 1rem;
    }

    .cols-3{
        grid-template-columns: repeat(1, 1fr);
    }

    .cols-4{
        grid-template-columns: repeat(2, 1fr);
    }

    .nome-produto, .preco-produto, .rate{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .exclusive-container{
        flex-direction: column-reverse;
    }

    .exclusive-container img{
        margin-bottom: 4rem;
    }
}

.caracteristicas{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

.caracteristica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.icons{
    margin: 1rem;
}

.caracteristica:hover{
    transform: translateY(-5px);
}

.caracteristica p{
    margin: 5px 0;
}

.caracteristica p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color: #0084ff;
    margin-top: 3rem;
    line-height: 2rem;
}

@media (max-width: 800px){
    .caracteristicas{
        flex-direction: column;
    }

    .caracteristica{
        margin-bottom: 1.2rem;
    }
}

.footer-content{
    display: block;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 2rem;
}

.logo-footer{
    text-align: center;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

/* Página carrinho.html */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@media (max-width: 800px){
    .footer-content{
        display: inline;
        font-size: 0.8rem;
    }

    .footer-content>div{
        padding: 1rem;
    }
}

.header-carrinho{
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font-family: 'Lato', sans-serif;
}

body > header {
  background: #111;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body > main {
  background: #fff;
  padding: 0 30px 30px;
}

body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
  display: block;
  flex-basis: 35%;
  position: relative
}

body > main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > main .content section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body > main .content aside {
  min-width: 250px;
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 3px solid #eee;
}

table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}

table tbody tr {
  border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product img {
  border-radius: 6px;
}

.product .info {
  margin-left: 20px;
}

.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product .info .category {
  color: #666;
}

.qty {
  background: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}

.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.remove:hover {
  background: #ddd;
}

aside {
  margin-left: 30px;
}

aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
}

aside .box .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

aside .box .info > div:last-child {
  margin: 0;
}

aside .box .info button {
  color: #28a745;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside > button {
  border: 0;
  padding: 15px 0;
  color: white;
  background: #28a745;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside > button:hover {
  background: #3bc55b;
}

/* Página contato.html */

body > main .contato {
    display: block;
    text-align: center;
    padding: 15px;
    margin: 15px;
    font-family: var(--fonte3);
}

img#icard {
    width: 80%;
}

div > a > p#card {
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 12px;
    color: rgba(0, 0, 0, 0.808);
}

p#center {
    text-align: center;
}

.mapBox iframe {
    width: 100%;
}



